@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out; /* Opcional: para agregar una transición suave al cambiar la imagen */
}